<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TDV</title>

    {#  Third party packages  #}
    <link href="{% static 'lib/bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <script src="{% static 'lib/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'lib/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/node_modules/topojson/build/topojson.min.js' %}"></script>
    <script src="{% static 'lib/node_modules/d3/d3.min.js' %}"></script>
    <script src="{% static 'lib/node_modules/angular/angular.min.js' %}"></script>
    <script src="{% static 'lib/node_modules/angular-resource/angular-resource.min.js' %}"></script>

    {#  Third party packages  #}


</head>
<body>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            This is the index page :-)
            <button class="btn btn-danger">First button</button>
        </div>
    </div>
</body>
</html>