<div class="row">

    <div class="col-lg-4 col-md-4 col-sm-4">
        <label for="start_year_selection"> Start year: </label>
        <select name="start_year_selection"
                ng-model="filterStartYear"
                ng-options="item for item in yearArray"
                ng-change="updateChart(statefp, countyfp, crop_name, filterStartYear, filterEndYear, chartData, screen)">
        </select>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
        <label for="end_year_selection"> End year: </label>
        <select name="end_year_selection"
                ng-model="filterEndYear"
                ng-options="item for item in yearArray"
                ng-change="updateChart(statefp, countyfp, crop_name, filterStartYear, filterEndYear, chartData, screen)">
        </select>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
        <label for="crop_selection"> Crop: </label>
        <select name="crop_selection"
                ng-model="crop_name"
                ng-change="updateChart(statefp, countyfp, crop_name, filterStartYear, filterEndYear, chartData, screen)">
          <option value="corn">Corn</option>
          <option value="soy">Soybean</option>
          <option value="wheat">Wheat</option>
        </select>
    </div>
</div>

<div class="row">
    <h3 class="col-lg-12 col-md-12 col-sm-12 text-left">
        {{ county_name }} county
        <a id="counties-map-link" href="{{ base_url }}/#/us-counties-map/state/{{ statefp }}/year/{{ filterEndYear }}/crop/{{ crop_name }}/">
            ({{ state_name }})
        </a>
    </h3>
</div>

<div class="row chart-container">


</div>