<div class="row">

    <div class="col-lg-3 col-md-3 col-sm-3 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
        <label for="year_selection"> Year: </label>
        <select name="year_selection"
                ng-model="filterYear"
                ng-options="item for item in yearArray"
                ng-change="refreshPage(filterYear, crop_name, statefp, state_boundaries, cropData, statefp, screen)">
        </select>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
        <label for="crop_selection"> Crop: </label>
        <select name="crop_selection"
                ng-model="crop_name"
                ng-change="refreshPage(filterYear, crop_name, statefp, state_boundaries, cropData, statefp, screen)">
          <option value="corn">Corn</option>
          <option value="soy">Soybean</option>
          <option value="wheat">Wheat</option>
        </select>
    </div>

</div>

<div class="row">
    <a href="{{ base_url }}/#/us-state-chart/crop/corn/state/{{ statefp }}/">
        <h3 id="statewide-history-link" class="col-lg-6 col-md-6 col-sm-6 text-left">
            See history for {{ state_name }}
        </h3>
    </a>
</div>

<div class="row map-container">

</div>