<div class="row">

    <div class="col-lg-3 col-md-3 col-sm-3 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
        <label for="year_selection"> Year: </label>
        <select name="year_selection"
                ng-model="filterYear"
                ng-options="item for item in yearArray"
                ng-change="refreshPage(filterYear, crop_name, state_boundaries, cropData, screen)">
        </select>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
        <label for="crop_selection"> Crop: </label>
        <select name="crop_selection"
                ng-model="crop_name"
                ng-change="refreshPage(filterYear, crop_name, state_boundaries, cropData, screen)">
          <option value="corn">Corn</option>
          <option value="soy">Soybean</option>
          <option value="wheat">Wheat</option>
        </select>
    </div>
</div>

<div class="row map-container">


</div>