<div>

    <div class="row">

        <div class="col-sm-6 col-md-6">
            <div class="thumbnail" id="county-map">
                <div class="caption text-center">
                    <h3>Interactive counties map</h3>
                    <p>description</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-6">
            <div class="thumbnail" id="yield">
                <div class="caption text-center">
                    <h3>Historical Yields</h3>
                    <p>description</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-6">
            <div class="thumbnail" id="wasde">
                <div class="caption text-center">
                    <h3>Another great vis</h3>
                    <p>description</p>
                </div>
            </div>
        </div>


        <div class="col-sm-6 col-md-6">
            <div class="thumbnail" id="clusters">
                <div class="caption text-center">
                    <h3>Another great vis</h3>
                    <p>description</p>
                </div>
            </div>
        </div>

    </div>

</div>