<div>

    <div class="row">

        <div class="col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
            <div class="thumbnail" id="clusters">
                <div class="caption text-center">
                    <p>This project seeks to do several things:</p>
                    <p>- Use the geodjango framework to implement geospatial analysis in a web-based context</p>
                    <p>- Use the D3.js visualisation library to produce customised & interactive visualisations of data with Javascript</p>
                    <p>- Carry out a preliminary investigation into the implementation of TDD best practices when developing visualisations</p>
                    <p>I hope you enjoy exploring it as much as I enjoyed making it...</p>
                    <a id="vis-link" href="{{ base_url }}/#/us-states-map">
                        <h2>Click here to begin...</h2>
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>