<div>

    <div class="row">

        <div class="col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
            <div class="thumbnail" id="clusters">
                <div class="caption text-center">
                    <p>description</p>
                    <a id="vis-link" href="{{ base_url }}/#/us-states-map">
                        <h2>Click here to begin...</h2>
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>