{% load staticfiles %}

<script src="{% static 'visApp/app.js' %}"></script>
<script src="{% static 'visApp/config/routes.js' %}"></script>

<script src="{% static 'visApp/factories/StateBoundariesFactory.js' %}"></script>
<script src="{% static 'visApp/factories/SearchStatesFactory.js' %}"></script>
<script src="{% static 'visApp/factories/SearchCountiesFactory.js' %}"></script>
<script src="{% static 'visApp/factories/StateCountiesBoundariesFactory.js' %}"></script>
<script src="{% static 'visApp/factories/AllCountiesBoundariesFactory.js' %}"></script>
<script src="{% static 'visApp/factories/D3DrawChoroplethFactory.js' %}"></script>
<script src="{% static 'visApp/factories/SoyYieldDataFactory.js' %}"></script>
<script src="{% static 'visApp/factories/AllStatesYieldDataFactory.js' %}"></script>
<script src="{% static 'visApp/factories/StateCountiesYieldDataFactory.js' %}"></script>
<script src="{% static 'visApp/factories/StateYieldDataFactory.js' %}"></script>
<script src="{% static 'visApp/factories/CountyYieldDataFactory.js' %}"></script>
<script src="{% static 'visApp/factories/WheatYieldDataFactory.js' %}"></script>
<script src="{% static 'visApp/factories/HistoricalChartFactory.js' %}"></script>
<script src="{% static 'visApp/factories/AvailableYieldYearsFactory.js' %}"></script>
<script src="{% static 'visApp/factories/StateNameFromFpFactory.js' %}"></script>

<script src="{% static 'visApp/controllers/VisAppLandingController.js' %}"></script>
<script src="{% static 'visApp/controllers/CountiesMapController.js' %}"></script>
<script src="{% static 'visApp/controllers/StatesMapController.js' %}"></script>
<script src="{% static 'visApp/controllers/HistoricalStateChartController.js' %}"></script>
<script src="{% static 'visApp/controllers/HistoricalCountyChartController.js' %}"></script>
<script src="{% static 'visApp/controllers/TechnologiesUsedController.js' %}"></script>

